<li class="linkup-item">
    <article>
      <div class="linkup-summary">
        <div class="linkup-image">
          <img src="{{ image }}" alt="{{ title }}" />
        </div>
        <div class="linkup-details">
          <h3>{{ title }}</h3>
          <address>{{ location }}</address>
        </div>
      </div>
      <div class="linkup-actions">
        <a href="{% url 'linkup-details' slug %}" class="btn"
          >More Details</a
        >
      </div>
    </article>
  </li>